h1 {
  color: yellowgreen;
  text-align: center;
  margin-top: 250px;
  font-size: 65px;
}

h2 {
  color: blue;
  font-size: 45px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

a {
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
}

ul {
  list-style: none;
}

/*! ====== селектор класу ======= */


.main-title {
  color: red;
}


/*! ====== селектор ідентифікатора ======= */
#title-hi {
  color: rgb(255, 0, 225);
}


/*! ====== Селектор груп ======= */
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

/*! ====== Селектор атрибуту ======= */

/*2     тег[атрибут="значення"]   */
/*
6  a[href] визначить всі елементи з таким атрибутом 
6  a[href="http"] визначить елементи з таким атрибутом та значенням у точності,
6  що відповідає значенню. 

6  a[href~="http"] визначить елемент з іменем атрибута href,значенням якого є набір слів роздільних пробілів,
6  одного з яких у точності рівне значення

6 a[href^="http"] визначить елемент з іменем атрибута href, значення якого починається з "http"
6 a[href$="http"] визначить елемент з іменем атрибута href, значення якого закінчується на "http"
6 a[href*="http"] визначить елемент з іменем атрибута href, значення якого містить "http"
6 a[href|="http"]
*/


/* a {
  color: beige;
} */

.span1 {
  color: black;
}


a[href="http"] {
  color: black;
}

h2[class*=main] {
  color: rgb(41, 38, 38)
}



/*! ======================= !important============
 */

span {
  color: rgb(22, 175, 8) !important
}

/*! ======================= Ієрархія селекторів ============== */

/* ============== грпа тегів =============== */
main,
h2 {
  color: rgb(255, 102, 0);
}

/* ============== ієрархія селекторів =============== */


main h2 {
  color: rgb(238, 255, 0);
}


ul p {
  color: aqua;
}

li>p {
  color: rgb(4, 0, 255);
}